<%= form_for(@sensorinput) do |f| %>
  <% if @sensorinput.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensorinput.errors.count, "error") %> prohibited this sensorinput from being saved:</h2>

      <ul>
      <% @sensorinput.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :raw_info %><br>
    <%= f.number_field :raw_info %>
  </div>
  <div class="field">
    <%= f.label :data_type %><br>
    <%= f.text_field :data_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
