
<div class="row">
<div class="col-md-1 col-md-offset-1">
<div id="chest">
  <div style="position: relative;
    top: 110px;
    left: 70px;
    z-index: 30;color:#fff">
    <p id="beatmon"> 35 bpm</p>
  </div>
  <div class="heart left side top"></div>
  <div class="heart center">&hearts;</div>
  <div class="heart right side"></div>
</div>
</div>
<div class="col-md-9">
<div class="mapbg">
  <div id="chartdiv"></div>  
</div>
</div>
</div>
