<p id="notice"><%= notice %></p>

<p>
  <strong>Raw info:</strong>
  <%= @sensorinput.raw_info %>
</p>

<p>
  <strong>Data type:</strong>
  <%= @sensorinput.data_type %>
</p>

<%= link_to 'Edit', edit_sensorinput_path(@sensorinput) %> |
<%= link_to 'Back', sensorinputs_path %>
